        * {
            margin: 0;
            padding: 0;
        }  

        ul, ol {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .wrap {
            height: 999px;
        }

        .wrap .header {
            width: 980px;
            height: 78px;
            display: flex;
            margin: 0 auto;
            position: relative;
        }

        .wrap .menu {
            color: #9f9f9f;
            display: flex;
            gap: 40px;
            text-wrap: nowrap;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        .wrap .slide {
            margin: 0 auto;
            height: 600px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
        }
        
        .com {
            text-align: center;
        }

        .com h2 {
            color:#b3917c;
            font-size: 24px;
            margin: 40px 0 30px;
            text-align: center;
            text-wrap: nowrap;
        }
        
        .com .inpor {
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .com .inpor .box {
            border: 1px solid #333;
            width:326px;
            box-sizing: border-box;
            padding: 1px;
        }

        .com .inpor .box img {
            margin: 14px auto;
        }

        .com .inpor .box .title {
            font-size: 18px;
            font-weight: bold;
        }

        .com .inpor .box .exp {
            font-size: 13px;
        }
