* {
    margin: 0;
    padding: 0;
}  

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/* 
.header {

} */

.header .wrap {
    width: 980px;
    height: 78px;
    margin: 0 auto;
    position: relative;
}

.header .wrap .gnb {
    display :flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.header .wrap .gnb li {
    background-image: url(../images/line.jpg);
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-left: 20px;
}

.header .wrap .gnb li:first-child {
    background-image: none;
    padding: 0;
    margin: 0;
}

/* 
    1. html 요소(img태그)로 이미지 삽입
    - html요소 = 컨텐츠
    - 이미지요소는 기본적으로 종횡비를 가짐

    2. css: background-iamge로 이미지를 삽입
    - 컨텐츠 x / html요소에 의존적
    - 위치나 크기 설정이 굉장히 쉽다.
*/

/* 
    배너 이미지를 이미지 태그로 삽입(정상적인 방법)
 .banner {
    position: relative;
    height: 600px;
    영역을 넘치는 자식을 숨겨주기
    overflow: hidden;
}

.banner a {
    display: block;
    height: 100%;
}

.banner img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.banner a {
    background-image: url(../images/slider1.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center; /* x,y */
    height: 600px;
    display: block;
    /* a는 인라인요소. 인라인요소는 공간값적용X */
    font-size: 0;
    /* 설명은 index2 */

    /* text-indent: -99999px;
        들여쓰기 터무니없는 값을 왼쪽으로 보내는 방법
        숙련자들은 글자를 없앨려고 하는구나를 알게됨
    */
}

.information {
    padding: 40px 0;
    /* 제일 큰 섹션에 패딩값을 줘서 편리하게 하기 */
}

.information .wrap {
    width: 980px;
    margin: 0 auto;
    /* margin: 0 auto; => 블록요소를 가운데 배치 */
}

.information .wrap h3 {
    font-size: 24px;
    color: #b3917c;
    text-align: center;
    margin-bottom: 30px;
}

.information .wrap h3 span {
    font-weight: lighter;
}

.information .wrap .con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information .wrap .con .box {
    width: 326px;
    text-align: center;
    /* 문자, 글자, 서체.. 관련 속성들은 상속(inherit)됨 */
}
.information .wrap .con  .box .thumb {
    /* text-align: center; */
    /* 이미지 = 인라인요소
        인라인요소의 가운데 배치는 부모요소에게
        text-align: center;
        => 인라인요소는 부모의 문자열 속성의 영향을 받음
    */
}
.information .wrap .con .box .tit {
    margin-top: 14px;
    font-size: 18px;
    font-weight: bold;
}
.information .wrap .con .box .txt {
    font-size: 13px;
    margin-bottom: 40px;
}

.franchise{
    padding: 40px 0;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center center;
}
.franchise .wrap{
    width: 980px;
    margin: 0 auto;
}
.franchise .wrap h3{
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}
.franchise .wrap h3 span{
    font-weight: lighter;
}
.franchise .wrap .con{
    display: flex;
    justify-content: space-between;
    /* 왼쪽, 오른쪽으로 각각 붙으며 간격 자동 형성 */
}
.franchise .wrap .con .youtube{}
.franchise .wrap .con .gallery{
    width: 481px;
    display: flex;
    /* flex는 1차원정렬(가로 or 세로)
        => 줄바꿈을 하지 않음!
        => 줄바꿈 : flex-wrap
    */
    flex-wrap: wrap;
    gap: 5px;
}
.franchise .wrap .con .gallery .thumb{
    width: 157px;
    height: 130px;
}
.franchise .wrap .con .gallery .thumb img{
    width: 100%;
    height: 100%;
}

.footer{
    background-color: #171717;
}
.footer .wrap{
    width: 980px;
    margin: 0 auto;
    display: flex;
}
.footer .wrap > div{
    /* 공통적인 스타일이 있으면 여기에 넣고싶음 */
    /* 
    수많은 div중 자신의 아들만 잡겠다는 의미
    .wrap>div는 wrap안 바로아래에 있는 div만 잡을려고함
    */
    /* width: 33.333% - 3등분 하겠다는 의미*/
    /* css에서 계산값 입력하기 calc() 
        => 연산자 좌우를 띄어쓰기
        => 단위 조심하기 **************
        => 단위가 없는 숫자는 곱셈과 나눗셈만 가능    
    */
    width: calc(100% / 3)

}
.footer .wrap .contact{}
.footer .wrap .contact h3{
    color: #b3917c;
    margin-bottom: 10px;
}
.footer .wrap .news{}
.footer .wrap .news h3{
    color: #b3917c;
    margin-bottom: 10px;
}

.footer .wrap .news ol{

}

.footer .wrap .news ol li{
/*
    말줄임의 두가지 방법
    한줄 말줄임 처리
    - 말줄임의 길이는 너비값으로 제어

    여러줄(몇번째 줄부터) 말줄임 처리
*/
    width: 300px;
    /*
        너비값으로 제어를 받기때문에 너비값을 주면
        말줄임 처리를 원하는 만큼 할 수 있다.
    */
    text-wrap: nowrap;
    /* 문단 줄바꿈 금지 */
    overflow: hidden;
    /* 영역을 넘는 자식(또는 컨텐츠)를 숨김처리 */
    text-overflow: ellipsis;

    font-size: 12px;
    color: #ababab;
    margin-bottom: 8px;
}
.footer .wrap .news ol li::before{
    content:"· ";
}


.footer .wrap .sns{}
.footer .wrap .sns h3{
    color: #b3917c;
    margin-bottom: 10px;
}
